/* src/pages/Home.css */

.home-header h1 {
  font-size: 2rem;
  color: #ff6347;
}

.home-header p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #dcdcdc;
}

.home-articles h2 {
  margin-top: 2rem;
  color: #ff6347;
}

.home-articles ul {
  list-style: none;
  padding: 0;
}

.home-articles li {
  margin: 1rem 0;
  background-color: #333;
  padding: 1rem;
  border-radius: 8px;
}

.home-articles a {
  font-size: 1.1rem;
  color: #ff6347;
}

.img{
  width: 100%;
  object-fit: cover;
  height: 180px;
}
.section-flex{
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}